@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400&display=swap');

.welcome-message {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.welcome-message-text {
    width: 80%;
    margin: 0 auto;
}

.welcome-message-text h1 {
    font-size: 45px;
    color: #0c055b;
    padding-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
}


.welcome-message-img img {
    width: 80%;
    border-radius: 10px;
    /* float: right; */
}

.welcome-message-img {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
}



/* vision & mission styles */

.vision-head {
    background: linear-gradient(30deg, #0096d6, #0096d6);
    background-repeat: no-repeat;
    background-size: 10% 5px;
    background-position: bottom;
}

.vision {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 10%;
    margin-top: 40px;
}

.vision-text h1 {
    font-size: 45px;
    color: #0c055b;
    font-family: 'Bebas Neue';
}

.vision p {
    width: 70%;
}

.mission {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 10%;
    margin-top: 40px;
}

.mission p {
    width: 100%;
}

/* accreditation */
.accreditation-head {
    width: 100%;
    padding: 0 10%;
}

.accreditation {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 40px;
}

.accreditation-image img {
    width: 80%;

}



.accreditation-text {
    width: 100%;
    padding-block: 15px;
}

/* academic result */
.academic-head {
    padding: 0 10%;
}

.aiming {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 10%;
}

.bece {
    margin-top: 40px;
    display: grid;
    padding: 0 10%;
}

.bece li {
    list-style-type: disc;

}


/*campus */
.campus {
    width: 100%;
    padding: 0 10%;
}

.campus h1 {
    font-size: 45px;
    color: #0c055b;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(30deg, #0096d6, #0096d6);
    background-repeat: no-repeat;
    background-size: 10% 5px;
    background-position: bottom;

}

.campus h2 {
    font-size: 40px;
    color: #0c055b;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;

}

.location {
    margin-block: 40px;
    background-color: #0c055b;
    color: #fff;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.location h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    padding-block: 10px;
    font-family: 'Bebas Neue', cursive;

}


@media all and (max-width: 900px) {
    .welcome-message {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .welcome-message h1 {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-block: 10px;
        text-align: center;
    }

    .welcome-message p {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .welcome-message-img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .welcome-message-img img {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .vision-head {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .vision {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .vision-text {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .vision-text h1 {
        display: block;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .vision p{
        width: 100%;
    }
    .vision-image{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
    .vision-image img{
        display: block;
        width: 100%;
        margin: 0 auto; 
        margin-top: 40px; 
    }


    .mission-head {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .mission {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .mission-text {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .mission-text h1 {
        display: block;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .mission p{
        width: 100%;
        margin-bottom: 40px;
    }
    .mission-image{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
    .mission-image img{
        display: block;
        width: 100%;
        margin: 0 auto; 
        margin-top: 40px; 
    }
    .academic-head h1{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .aiming{
        display: block;
        width: 100%;
        margin: 0 auto; 
        margin-bottom: 40px;
    }
    .aiming-text{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
    .aiming-img{
        display: block;
        width: 100%;
        margin: 0 auto; 
        display: none;
    }
    .aiming-img img{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
    .campus{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
}