@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

nav {
    background: #fff;
    padding: 5px 40px;
    /* font-weight: 700; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}

nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #B1976B;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
}

nav ul li.logo {
    flex: 1;
    color: #0c055b;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: #0c055b;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

nav ul li:hover a {
    color: #0c055b;
}

nav ul li i {
    font-size: 23px;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn.hide i:before {
    content: '\f00d';
}

.dropdown li a {
    align-items: center;
    padding-top: 0;
    margin-top: 0;
    color: #0c055b;
}

ul li ul .dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 250px;
    padding-top: 0;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    position: absolute;
    z-index: 999;
    display: none;
    color: #0c055b;
}

ul li:hover ul.dropdown {
    display: block;
    padding: 0 11%;
    color: #0c055b;
}

.second-nav {
    height: 50px;
    background-color: #0c055b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.social-media {
    float: left;
    align-self: center;
}

.social-media a {
    color: #fff;
    padding: 0 10px;
}

.info-details {
    float: right;
    align-self: center;

}

.info-details li {
    display: inline-block;
    padding: 0 10px;
}






/* slidder css */

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.enquiry {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #0c055b;
    color: #fff;
    padding-block: 20px;

}

.enquiry h1 {
    padding-top: 10px;
}

button {
    padding: 15px 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-block: 20px;
}

button a {
    padding: 10px 30px;
    color: #0c055b;
}

.enquiry-button {
    display: flex;
    justify-content: center;
    align-self: center;
}

.accreditation {
    /* background-color: #4f4f501b; */
    background-color: rgba(103, 103, 103, 0.094);
    padding-block: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}



.accreditation-image {
    display: flex;
    justify-content: space-between;
    background-color: #e8eded;
    /* box-shadow: ; */
}


.principal {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 10%;
}

/* .principal-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-self: center;
} */

.principal-text h1 {
    font-size: 35px;
    text-transform: capitalize;
    color: #0c055b;
    padding-bottom: 20px;
    margin-top: 40px;
}

.principal-text p {
    padding-bottom: 20px;
}

.principal-photo img {
    float: right;
}

.btn-1 {
    padding: 15px 40px;
    background-color: #0c055b;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-block: 20px;
}



.btn-1 a {
    padding: 10px 30px;
    color: #fff;
}

.btn-2 {
    padding: 15px 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-block: 20px;
}

.btn-2 a {
    padding: 10px 30px;
    color: #0c055b;
}





/* h1:hover{
    animation: move-left-to-right 1s linear;
  
  }
  
  @keyframes move-left-to-right {
    from {
      transform: translateZ(-100%);
    }
    to {
      transform: translateY(-40%);
    }
  }
   */





.explore {
    margin-top: 40px;
}

.explore h1 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    color: #0c055b;
    padding: 20px 0;
}

.explore-images {
    display: flex;
    justify-content: space-between;

}

.explore-images img {
    /* border: 2px solid #fff; */
    /* border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/pre-school-trans.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-1 {
    position: relative;
    width: 50%;
}

.image-1 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-1 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/primary-trans.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-1:hover .overlay-1 {
    bottom: 0;
    height: 100%;
}

.text-1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-2 {
    position: relative;
    width: 50%;
}

.image-2 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-2 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/jhs-trans.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-2:hover .overlay-2 {
    bottom: 0;
    height: 100%;
}

.text-2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-3 {
    position: relative;
    width: 50%;
}

.image-3 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-3 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/spelling_Bee_c.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-3:hover .overlay-3 {
    bottom: 0;
    height: 100%;
}

.text-3 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-4 {
    position: relative;
    width: 50%;
}

.image-4 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-4 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/toyota_c.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-4:hover .overlay-4 {
    bottom: 0;
    height: 100%;
}

.text-4 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-5 {
    position: relative;
    width: 50%;
}

.image-5 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-5 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/pta_meeting_c.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-5:hover .overlay-5 {
    bottom: 0;
    height: 100%;
}

.text-5 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-6 {
    position: relative;
    width: 50%;
}

.image-6 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-6 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/g4stem_c.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-6:hover .overlay-6 {
    bottom: 0;
    height: 100%;
}

.text-6 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-7 {
    position: relative;
    width: 50%;
}

.image-7 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-7 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/wbts.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-7:hover .overlay-7 {
    bottom: 0;
    height: 100%;
}

.text-7 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-8 {
    position: relative;
    width: 50%;
}

.image-8 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-8 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: url(images/mise_c.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-8:hover .overlay-8 {
    bottom: 0;
    height: 100%;
}

.text-8 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.recent-story {
    text-align: center;
    color: #0c055b;
    margin-top: 40px;
}

.recent-heading h1 {
    font-size: 35px;
    text-transform: capitalize;
}

.global {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 10%;
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    margin-top: 40px;
    background-color: rgba(103, 103, 103, 0.094);

}

.global-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.global-text h1 {
    color: #0c055b;
    font-size: 35px;
    width: 100%;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.global-text p {
    width: 70%;
}

.global-image {
    /* background-color: #0c055b; */
    width: 100%;
}

.global-image img {
    width: 80%;
    float: right;
}

.splide__progress__bar {
    height: 3px;
    background: #ccc;
}

.featured {
    margin-top: 40px;
}

.featured-heading {
    padding: 0 10%;
}

.featured-heading h1 {
    color: #0c055b;
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.featured-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 10%;
}

.featured-images img {
    width: 150px;
    height: 100px;
}

.youtube iframe {
    float: right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
    margin-top: 40px;
}

.footer-wrapper {
    background-color: #e8eded;
    ;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    color: #8691a3;
}

.footer-wrapper img {
    padding-top: 40px;
}

.footer-wrapper h1 {
    padding-top: 30px;
    text-transform: capitalize;
}

.footer-wrapper li a {
    color: #333;
}

.footer-wrapper li a:hover {
    color: #0c055b;
}

.footer-logo img {
    width: 200px;
}

.social-media-footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.social-media-footer a {
    color: #fff;
    padding: 10px;
}

.social-media-footer a:hover {
    color: #0c055b;
    padding: 10px;
}

@media all and (max-width: 900px) {
    nav {
        padding: 5px 30px;
    }

    nav ul li.items {
        width: 100%;
        display: none;
    }

    nav ul li.items.show {
        display: block;
    }

    nav ul li.btn {
        display: block;
    }

    .second-nav {
        display: none;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: 100%;
        /* background-size: 100%; */
        background-image: -webkit-gradient;
    }
    .enquiry {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .enquiry h1 {
        text-align: center;
        padding-top: 20px;
    }

    .enquiry p {
        text-align: center;
        padding-top: 20px;
    }

    .enquiry-button {
        display: block;
        padding-block: 20px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .accreditation {
        display: block;
        width: 100%;
        margin: 0 auto;

    }

    .accreditation-image {
        padding: 40px;
        display: block;
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .principal {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .principal-text {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .principal-photo {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .principal-photo img {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .explore {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .explore-images {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .container-1 {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .container-2 {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .global {
        display: grid;
        width: 100%;
        margin-top: 40px;

    }

    .global-text {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .global-text h1 {
        display: grid;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .global-text p {
        display: grid;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    .global-image {
        display: grid;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .global-image img {
        display: grid;
        width: 100%;
        margin: 0 auto;
    }

    .recent-story {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .recent-heading h2 {
        padding: 20px;
    }

    .explore {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .featured {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .featured-wrapper {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .featured-images {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .featured-images img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    .youtube {
        display: block;
        width: 100%;
        margin: 0 auto;
        display: none;
    }

    /* iframe {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 40px;
    } */

    .featured-images .hide {
        display: none;
    }
.youtube img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
    .container-3 {
        width: 100%;
    }

    .container-4 {
        width: 100%;
    }

    .container-5 {
        width: 100%;
    }

    .container-6 {
        width: 100%;
    }

    .container-7 {
        width: 100%;
    }

    .container-8 {
        width: 100%;
    }

    .footer-wrapper {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        /* margin-top: 40px; */
    }

    .footer-logo {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-contact {
        display: block;
        width: 100%;
        margin: 0 auto;

    }

    .footer-contact h1 {
        display: block;
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }


}